<div class="input-container">
    <span>{{getTitle name}}</span>
    <fieldset>
        <label>
            <input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{getTitle name}}" {{#if disabled}}disabled{{/if}}>
        </label>
        {{> messages }}
    </fieldset>
</div>